{% extends "base.html" %}
{% block title %} Faculty {% endblock %}
{% block content %} <h1>Faculty portal</h1> {% endblock %}

{% block nav_bar %}
    <!-- Dropdown for leave application
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
        Leave Application
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#">Apply For Leave</a>
        <a class="dropdown-item" href="#">History</a>
      </div>
    </li>
    -->
{% endblock %}