<!DOCTYPE HTML>
<!--
	Projection by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>home</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href=" {{ url_for('static',filename='assets/css/main.css') }} " />
	</head>
	<body>

		<!-- Banner -->

			<footer id="footer">
					<div class="inner">

                        <a class="navbar-brand" href="#"><img src="https://www.iitrpr.ac.in/sites/default/files/logo_0_2.png" alt=""> </a>
					    <br>
                        <a href="home.html" class="logo"><strong>Indian Institute Of Technology, Ropar</strong> </a>
						<h3>Fill The Details</h3>

						<form action="" method="post">

							<div class="field half first">
								<label for="username">Username</label>
								<input name="username" id="username" type="text"  maxlength="10" required placeholder="Username(max 10 character)">
							</div>
							<div class="field half first">
								<label for="password">Password</label>
								<input name="password" id="password" type="password" required placeholder="Password">
							</div>

							<ul class="actions">
								<li><input value="Log-in" class="button alt" type="submit"></li>
							</ul>
						</form>

                        {% if error %}
                            <p class="error"><strong>Error:</strong> {{ error }}
                        {% endif %}


					</div>
				</footer>


		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>